@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

html,
body {
  @apply min-h-screen overflow-x-hidden
}

#__next {
  @apply min-h-screen flex flex-1;
}

.swiper-slide{
  transform: translateZ(0);
}

:root {
  --swiper-theme-color: #fff !important;
}

.translate-z-0 {
  transform: translateZ(0);
}

video::-webkit-media-controls {
  display: none !important;
}